@import "variables";

%texto{
    font-size: 20px;
    color: white;    
}

@mixin titulo {
    background-color: $color-cuarto; 
    color: $color-tercero;
    border: 5px solid $color-segundo;
    font-size: 30x;       
}

@mixin fotos ($width,$height){
    height: $height;
    width: $width;
    
}

.color__background{
    background-color: $color-primero;
}

.color__background--texto{
    background-color: $color-segundo;
}

.color_texto{
    color: $color-tercero
}

.color__texto--2{
    color: $color-cuarto;
}

h3{
    @include titulo;
}

p{
    background-color: $color-quinto;
    @extend %texto;    
}

.foto1{
    @include fotos(33%,33%)
}

.foto2{
    @include fotos(22%,22%)
}

.foto3{
    @include fotos(11%,11%)
}
